<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--        <link href="../static/css/main.css" rel="stylesheet"/>-->
</head>
<body>

<div th:replace="header :: myheader"></div>

<!--Form-->
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>User Login</h1>

            <form method="post" th:action="@{/login}">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or
                        password.
                    </div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>

                <div class="form-group ">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" autofocus="autofocus"
                               placeholder="Username"/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Password"/>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Your password must be 8-20 characters long, contain letters and numbers, and must not
                            contain spaces, special characters, or emoji.
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <div class="form-group">
                <span>New user?
                    <a href="/" th:href="@{/registration}">Register</a>
                </span>
            </div>
        </div>
    </div>
</div>

</body>
</html>