<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Thank you for subscribing!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    <link href="../static/css/main.css" rel="stylesheet"/>-->
</head>
<body>

<!-- Navigation -->
<div th:replace="header :: myheader"></div>

<div class="container-wrapper">
    <div class="container">
        <div class="container mt-5 pt-5">
            <h2>
                Thank you for whatever.

            </h2>

            <p>

            </p>
        </div>
    </div>
</div>

</body>
</html>