<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="header :: myheader"></div>


<div class="container-wrapper">
    <div class="container">

        <section class=" mx-3 mt-5 pt-5">

            <div class="jumbotron">
                <div class="container">
                    <h1>Products</h1>
                    <h6 class="ml-1">Currently available products</h6>

                </div>
            </div>
            <a th:href="@{showNewProductForm}" class="btn btn-outline-dark">
                Add Product
            </a>
        </section>


        <section id="gallery">

            <th:block th:with="partitions=${T(org.apache.commons.collections4.ListUtils).partition(listProducts, 3)}">

                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center pt-4"
                     th:each="partition: ${partitions}">
                    <div class="card mx-3 mb-4 flex-wrap" th:each="product : ${partition}">
                        <img th:src="${product.productImg}" class="card-img-top img-fluid "

                             alt="...">
                        <div class="card-body">
                            <!--                        <h5 class="card-title" th:text="${product.idProduct}"></h5>-->
                            <h5 class="card-title" th:text="${product.productName}"></h5>
                            <p><span class="card-text" th:text="${product.productCount}">.</span>   pc.</p>
                            <p>stock: <span class="card-text" th:text="${product.productStock}"></span></p>
                            <p class="card-text" th:text="${product.productDescription}"></p>

                            <p><span class="card-text" th:text="${product.productPrice}"></span>$</p>


                            <a class="btn btn-outline-success"
                               th:href="@{/showFormForUpdate/{id} (id=${product.idProduct})}">Update
                            </a>
                            <a class="btn btn-danger"
                               th:href="@{/deleteProduct/{id} (id=${product.idProduct})}">Delete</a>
                            <button class="btn border border-1" th:href="@{/addToCart/{id} (id=${product.idProduct})}"><i
                                    class="fas fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>
            </th:block>

        </section>
    </div>
</div>

</body>
</html>