<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart Page</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>


<div th:replace="header :: myheader"></div>
<body>

<div class="container pt-4">


    <!--    <div class="row">-->
    <!--        <div class="col-8"><h4>Products</h4></div>-->
    <!--        <div class="col-2"><h4>Price</h4></div>-->
    <!--        <div class="col-2"><h4 class="text-right">Qty</h4></div>-->
    <!--    </div>-->


    <!--    &lt;!&ndash;            &ndash;&gt;-->
    <!--    <div class="row" th:each="cartItem: ${cartItemList}">-->
    <!--        <form th:action="@{/shoppingcart/updateCartItem}" method="post">-->
    <!--            <hr/>-->
    <!--            <div class="col-xs-2">-->
    <!--                <a th:href=""></a>-->
    <!--            </div>-->
    <!--            <hr/>-->
    <!--        </form>-->
    <!--    </div>-->

    <table class="table table-dark table-responsive-md text-center table-hover">
        <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>

            <th scope="col">Actions</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItemList}">
            <th scope="row" th:text="${cartItem.product.productName}"></th>
            <td th:text="${cartItem.product.productDescription}"></td>
            <td th:text="${cartItem.product.productPrice}"></td>
            <td>
                <form action="#" th:action="@{/updateQuantity/{id}(id=${cartItem.id})}" th:object="${cartItem}" method="post">
                    <input name="quantity" type="number" th:value="*{quantity}" th:placeholder="${cartItem.quantity}">
                    <button type="submit" class="btn btn-primary mb-2">Update</button>
                </form>

            </td>


            <td>

<!--                <a th:href="@{/updateQuantity/{id}(id=${cartItem.id})}"-->
<!--                   class="btn btn-primary">Update</a>-->
                <a th:href=" @{/deleteCartItem/{id}(id=${cartItem.id})}"
                   class="btn btn-danger">Delete</a>

            </td>
        </tr>

        </tbody>
    </table>


    <div class="row pt-4 mt-4">
        <div class="col text-left">
            <a class="btn btn-primary" th:href="@{/products}">Continue Shopping</a>
        </div>
        <div class="col text-right">
            <!--            <a class="btn btn-primary" th:href="@{/checkout(id=${shoppingCart.id})}">Checkout</a>-->
        </div>
    </div>

    <div class="row">
        <br/>
        <div th:if="${notEnoughStock}" class="alert alert-warning">
            Not enough stock.
        </div>
        <div th:if="${emptyCart}" class="alert alert-warning">
            Cart empty.
        </div>
    </div>


</div>


</body>
</html>