<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Launch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<!-- Navigation -->
<div th:replace="header :: myheader"></div>


<div class="container-wrapper">
    <div class="container">
        <div class="container mt-5 pt-5">
            <h1>Launches</h1>
            <hr>
            <h2>Update Launch</h2>

            <form action="#" th:action="@{createLaunch}" th:object="${launch}" method="POST">

                <input type="hidden" th:field="*{idLaunch}"/>

                <div class="form-group">
                    <label for="formGroupExampleInput2">Mission Name</label>
                    <input type="text" th:field="*{missionName}" class="form-control" id="formGroupExampleInput2"
                           placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput3">LSP</label>
                    <input type="text" th:field="*{launchServiceProvider}" class="form-control"
                           id="formGroupExampleInput3"
                           placeholder="Another input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput4">Rocket Type</label>
                    <input type="text" th:field="*{rocketType}" class="form-control" id="formGroupExampleInput4"
                           placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput5">Launch Date</label>
                    <input type="datetime-local" th:field="*{launchDate}" class="form-control" id="formGroupExampleInput5" placeholder="Another input">
                </div>


                <button type="submit" class="btn btn-primary mb-2">Update</button>

            </form>

            <hr>

            <a th:href="@{/launches}">Back</a>

        </div>
    </div>
</div>

</body>
</html>